$mainColor: #27ae60;
$secondaryColor: #FF712E;
$menuOuterColor: #2ecc71;
$menuInnerColor: #48E68B;

@import url(https://fonts.googleapis.com/css?family=Roboto);
html{
	height:2000px;
	background-color:$menuOuterColor;
}
body{
	background-color:$menuOuterColor;
}
.nomargin, p{
	margin:0 !important;
}
.nopadding{
	padding:0 !important;
}
#categoryTextWrapper{
	z-index:2;
	position:fixed;
	width:100%;
	background-color:$mainColor;
	//height:0;
	//padding-bottom:25%;
	.categoryText, .addressText{
		text-align:center; 
		color:white;
		font-size:100px;
	}
	.addressText{
		font-size:50px;
	}
	a{
		img{
			position:absolute;
			height:150px;
			width:150px;
			top:31px;
			right:31px;
		}
	}
	.hamburger{
		img{
			position:absolute;
			height:100px;
			width:100px;
			top:21px;
			left:21px;
			border:15px solid white;
			cursor:pointer;
		}
	}
}
.mainContent{

}
#sidebarMenu {
  height: 100%;
  position: fixed;
  background: #15B358;
  width:0;
  display:none;
  z-index:2;
  color:white;
  padding-top:213px;
  #sidebarMenuLinks{
  		text-align:center;
  		background-color:$menuInnerColor;
  	a{
  		font-size:100px;
  		color:white;
  	}
  }
}

.mainPageWrapper{
	padding-top:213px;
	width:100%;
	.openTimes{
		font-size:50px;
		text-align:center; 
		color:white;
	}
}
nav{
	overflow:scroll;
}
#menuWrapper{
	overflow:hidden;
	width:100%;
	padding:50px;
	padding-top:192px;
	background-color:$menuOuterColor;
	white-space:nowrap;
	.percentBlockHalf{
		display:inline-block;
		width:calc(50% - 25px);
		height:0;
		padding-bottom:50%; //fallback
		padding-bottom:calc(50% - 25px);
		background-color:$menuInnerColor;
		img{
			width:100%;
			padding:100px;
		}
	}
	.menuBlockText{
		position:relative;
		bottom:100px;
		text-align:center;
		color:#FFF;
		font-size:50px;
		z-index:1;
	}
}

.items{
	background-color:$menuInnerColor;
	padding-top:142px;
	margin-bottom:500px;
	.item{
		padding:10px;
		width:100%;
		white-space:nowrap;
		.itemImage, .itemName, .itemPrice{
			font-family: 'Roboto', sans-serif;
			display:inline-block;
			margin:0;
			text-align:center;
			color:white;
			font-size:50px;
		}
		.itemImage{
			width:15%;
			img{
				height:5%;
				padding:10px;
			}
		}
		.itemName{
			width:70%;
		}
		.itemPrice{
			width:15%
		}
	}
}

#bottomNavBar{
	background-color:$mainColor;
	position:fixed;
	bottom:0;
	white-space:nowrap;
	width:100%;
	overflow:scroll;
	.percentBlock, .percentBlockMainPage{
		display:inline-block;
		width:23%;
		a{
			img{
				width:100%;
				padding:25px;
			}
		}
	}
	.percentBlockMainPage{
		width:25%;
		padding:25px;
	}
}
