$mainColor: #000;
$secondaryColor: #FF712E;
$menuOuterColor: #080808;
$menuInnerColor: #101010;

@font-face {
    font-family: pop-out;
    src: url(../fonts/BebasNeueBold.otf);
}
//@import url(https://fonts.googleapis.com/css?family=Oswald);
//@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);
html{
	height:2000px;
	background-color:$menuOuterColor;
}
body{
	background-color:$menuOuterColor;
}
.nomargin, p{
	margin:0 !important;
}
.nopadding{
	padding:0 !important;
}

#categoryTextWrapper{
	z-index:2;
	position:fixed;
	width:100%;
	background-color:$mainColor;
	//height:0;
	//padding-bottom:25%;
	.categoryText, .addressText{
		text-align:center; 
		color:white;
		font-size:102px;
		font-family: 'Dosis', sans-serif;
	}
	.addressText{
		font-size:40px;
		margin-top:-25px !important;
	}
	a{
		img{
			position:absolute;
			height:100px;
			width:100px;
			top:23px;
			right:23px;
		}
	}
	.hamburger{
		img{
			position:absolute;
			height:100px;
			width:100px;
			top:23px;
			left:23px;
			border:10px solid white;
			cursor:pointer;
			
		}
	}
}

#sidebarMenu {
  height: 100%;
  border-right:10px solid black;
  position: fixed;
  background: #000;
  width:0;
  display:none;
  z-index:2;
  color:white;
  padding-top:147px;
  #sidebarMenuLinks{
  		text-align:center;
  		background-color:$menuInnerColor;
  	a{
  		display:block;
  		font-size:100px;
  		color:white;
  		text-decoration:none;
  		border-bottom:10px solid black;
  		font-family: 'Dosis', sans-serif;
  	}
  }
}

.mainPageWrapper{
	padding-top:146px;
	width:100%;
	.mainPageContent{
		font-size:50px;
		text-align:center; 
		color:white;
		font-family:pop-out;
		img{
			width:100%;
			margin-bottom:25px;
		}
		.openTimes{
			
		}
		#welcome{
			font-size:125px;
		}
		#text-mainpage{
			padding-left:10px;
			padding-right:10px;
		}
	}
}
nav{
	overflow:scroll;
}
#menuWrapper{
	overflow:hidden;
	width:100%;
	padding:50px;
	padding-top:192px;
	background-color:$menuOuterColor;
	white-space:nowrap;
	.percentBlockHalf{
		display:inline-block;
		width:calc(50% - 25px);
		height:0;
		padding-bottom:50%; //fallback
		padding-bottom:calc(50% - 25px);
		background-color:$menuInnerColor;
		img{
			width:100%;
			padding:100px;
		}
	}
	.menuBlockText{
		position:relative;
		bottom:100px;
		text-align:center;
		color:#FFF;
		font-size:50px;
		z-index:1;
	}
}

.items{
	background-color:$menuInnerColor;
	padding-top:142px;
	margin-bottom:500px;
	.item{
		padding:10px;
		width:100%;
		white-space:nowrap;
		.itemImage, .itemName, .itemPrice{
			font-family: 'Roboto', sans-serif;
			display:inline-block;
			margin:0;
			text-align:center;
			color:white;
			font-size:50px;
		}
		.itemImage{
			width:15%;
			img{
				height:5%;
				padding:10px;
			}
		}
		.itemName{
			width:70%;
		}
		.itemPrice{
			width:15%
		}
	}
}
#bottomNavBar{
	background-color:$mainColor;
	position:fixed;
	bottom:0;
	white-space:nowrap;
	height:auto;
	width:100%;
	//border-top:5px solid #FFF;
	overflow:hidden; // scroll et saada scrollable!!"#!"#!"#DFSASFASDFASDFASDFASDF"
	.percentBlock, .percentBlockMainPage{
		display:inline-block;
		width:20%;
		a{
			img{
				display:block;
				width:75%;
				padding:25px;
				margin:auto
			}
		}
	}
	.percentBlockMainPage{
		width:25%;
	}
}
