@import url(https://fonts.googleapis.com/css?family=Dosis:400,600);
@font-face {
  font-family: pop-out;
  src: url(../fonts/BebasNeueBold.otf); }
html {
  background-color: #080808; }

body {
  background-color: #080808; }

.nomargin, p {
  margin: 0 !important; }

.nopadding {
  padding: 0 !important; }

#categoryTextWrapper {
  z-index: 2;
  position: fixed;
  width: 100%;
  background-color: #000; }
  #categoryTextWrapper .categoryText, #categoryTextWrapper .addressText {
    text-align: center;
    color: white;
    font-size: 102px;
    font-family: 'Dosis', sans-serif; }
  #categoryTextWrapper .addressText {
    font-size: 40px;
    margin-top: -25px !important; }
  #categoryTextWrapper a img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 23px;
    right: 23px; }
  #categoryTextWrapper .hamburger img {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 23px;
    left: 23px;
    border: 10px solid white;
    cursor: pointer; }

#sidebarMenu {
  height: 100%;
  border-right: 10px solid black;
  position: fixed;
  background: #000;
  width: 0;
  display: none;
  z-index: 1;
  color: white;
  padding-top: 147px; }
  #sidebarMenu #sidebarMenuLinks {
    text-align: center;
    background-color: #101010; }
    #sidebarMenu #sidebarMenuLinks a {
      display: block;
      font-size: 100px;
      color: white;
      text-decoration: none;
      border-bottom: 10px solid black;
      font-family: 'Dosis', sans-serif; }

.mainPageWrapper {
  padding-top: 146px;
  width: 100%; }
  .mainPageWrapper .mainPageContent {
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: pop-out; }
    .mainPageWrapper .mainPageContent img {
      width: 100%;
      margin-bottom: 25px; }
    .mainPageWrapper .mainPageContent .openTimes-left {
      display: inline-block;
      text-align: left;
      padding-left: 50px;
      width: 50%;
      font-size: 50px; }
    .mainPageWrapper .mainPageContent .openTimes-right {
      display: inline-block;
      text-align: right;
      padding-right: 50px;
      width: 50%;
      font-size: 50px; }
    .mainPageWrapper .mainPageContent #welcome {
      font-size: 125px; }
    .mainPageWrapper .mainPageContent #text-mainpage {
      padding-left: 10px;
      padding-right: 10px; }
    .mainPageWrapper .mainPageContent #text-contactpage {
      text-align: left;
      padding-left: 50px;
      padding-right: 50px; }
    .mainPageWrapper .mainPageContent .event:first-child {
      border-top: 10px solid #FFF; }
    .mainPageWrapper .mainPageContent .event {
      border-bottom: 10px solid #fff; }
      .mainPageWrapper .mainPageContent .event .date {
        font-size: 100px;
        color: #2e8ece; }
      .mainPageWrapper .mainPageContent .event .eventName {
        font-size: 75px;
        margin-top: -25px; }
      .mainPageWrapper .mainPageContent .event .eventDesc {
        font-size: 40px;
        color: grey; }

nav {
  overflow: scroll; }

#menuWrapper {
  overflow: hidden;
  width: 100%;
  padding: 50px;
  padding-top: 192px;
  padding-bottom: 0;
  background-color: #080808;
  white-space: nowrap; }
  #menuWrapper .percentBlockHalf {
    display: inline-block;
    width: calc(50% - 25px);
    height: 0;
    padding-bottom: 50%;
    padding-bottom: calc(50% - 25px);
    background-color: #101010; }
    #menuWrapper .percentBlockHalf img {
      width: 100%;
      padding: 100px; }
  #menuWrapper .menuBlockText {
    position: relative;
    bottom: 100px;
    text-align: center;
    color: #FFF;
    font-size: 50px;
    z-index: 0; }

.items {
  background-color: #101010;
  padding-top: 142px;
  margin-bottom: 500px; }
  .items .item {
    padding: 10px;
    width: 100%;
    white-space: nowrap;
    border-bottom: 10px solid #000; }
    .items .item .itemImage, .items .item .itemName, .items .item .itemPrice {
      font-family: 'Roboto', sans-serif;
      display: inline-block;
      margin: 0;
      text-align: center;
      color: white;
      font-size: 50px; }
    .items .item .itemImage {
      width: 15%; }
      .items .item .itemImage img {
        width: 100%;
        padding: 25px; }
    .items .item .itemName {
      width: 70%; }
    .items .item .itemPrice {
      width: 15%; }

#bottomNavBar {
  background-color: #000;
  position: fixed;
  bottom: 0;
  white-space: nowrap;
  height: auto;
  width: 100%;
  z-index: 1;
  overflow: hidden; }
  #bottomNavBar .percentBlock, #bottomNavBar .percentBlockMainPage {
    display: inline-block;
    width: 20%; }
    #bottomNavBar .percentBlock a img, #bottomNavBar .percentBlockMainPage a img {
      display: block;
      width: 75%;
      padding: 25px;
      margin: auto; }
  #bottomNavBar .percentBlockMainPage {
    width: 25%; }

#map {
  width: 100%;
  height: 500px; }

/*# sourceMappingURL=style.css.map */
